body {
    font-family: Arial, sans-serif;
    direction: rtl;
    margin: 0;
    background-color: #f4f6f9;

    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
    padding: 1.5rem;
}

footer {
    grid-area: footer;
}